<%- include('header'); -%>

    <div class= "content">
        <h1> Contacts </h1>
        <table id = "catalogue">
            <thead>
                <tr>
                    <th>Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Mail</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jeff</td>
                    <td>Dubai</td>
                    <td>0526477588</td>
                    <td>jeffbrone@gmail.com</td>
                </tr>
                <tr>
                    <td>john</td>
                    <td>Dubai</td>
                    <td>0506647737</td>
                    <td>johncena@gmail.com</td>
                </tr>
            </tbody>
        </table>
    </div>

<%- include('footer'); -%>